<%= render "shared/menu" %>

<body>
  <div class="row">
    <p class='col-12'>My Discounts</p>
  </div>

  <p><%= link_to "Create New Discount", new_merchant_discount_path(@merchant) %></p>

  <ul>
    <% @discounts.each do |discount| %>
      <div id="discount-<%= discount.id %>">
        <ul><%= link_to "Discount ##{discount.id}", merchant_discount_path(@merchant, discount) %>
          <li><%= discount.percent.to_i %>% Off </li>
          <li>Quantity of <%= discount.threshold %> or more</li>
        </ul>
      </div>
      <br>
    <% end %>
  </ul>
</body>